/* Navbar */
.navbar {
    background-color: #F58A1F;
}



/* Body Content */

.img-fluid {
    margin-bottom: 50px;
}

.bio-image {
float: left;
width: 200px; 
height: 200px;
margin-right: 20px;
}

.icons{
    width: 100%;    
}

a {
    text-align: center;
}

.fab{   
    margin:10px;
}

.fa-github-square{
    color:black;
    font-size: 70px;
}

.fa-linkedin{
    color:#0077B5;
    font-size: 70px;
}
   
.fa-stack-overflow{
    color:white;
    background-color: orange;
    width: 20%;
    border-radius: 5px;
    font-size: 60px;
    padding: 5px 5px 0 5px;
}

footer {
    background-color: #F58A1F;
    height: 100px;
    text-align: center;
    margin-top: 50px;
}
